.gallery{
    margin: 32px 64px;
}

.poster{

    &_title{
        margin-left: 20px;
        display: flex;
        flex-direction: row;

        span{
            padding: 6px;
        }
    }

    &_items{
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &_item{
        padding: 5px;
        width: calc(100%/5);

        img{
            width: 100%;
        }
    }
}

.backdrops{
    margin-bottom: 20px;

    &_title{
        margin-left: 20px;
        display: flex;
        flex-direction: row;

        span{
            padding: 6px;
        }
    }

    &_items{
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &_item{
        padding: 5px;
        width: calc(100%/5);

        img{
            width: 100%;
        }
    }
}