.modal{
    &_bg{
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: $dark;
        z-index: 12;
    }

    &_inner{
        position: fixed;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index: 13;
        display: flex;
        align-items: center;
    }

    &_close{
        position: fixed;
        right: 0;
        top: 0;
        width: 48px;
        height: 48px;
        z-index: 15;

        img{
            width: 50%;
            height: 50%;
            cursor: pointer;
        }
    }

    &__button {
        width: 48px;
        height: 48px;
        background-color: transparent;
        border: none;
    
        img {
          width: 50%;
          height: 50%;
        }
    }

    &_content{
        width: calc(100% - 96px);

        iframe{
            width: 100%;
            height: 600px;
        }

        img{
            padding-left: 370px;
            width: calc(100%/3+50px);
            height: 550px;
        }
    }
}